body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    font-family: 'Indie Flower', cursive;
}

#game {
    width: 873px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background: url('../assets/background.jpg') no-repeat center center;
}

#snake-board {
    top: 30px;
    left: 80px;
    z-index: 0;
    position: absolute;
    -webkit-border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup {
    top: 150px;
    left: 340px;
    padding: 0;
    z-index: 99;
    width: 200px;
    height: auto;
    color: #000000;
    font-size: 36px;
    position: absolute;
    line-height: 40px;
    background-color: #caffbc;
    border: solid 3px #00b900;
}

#popup #popup-button {
    width: 80px;
    height: 40px;
    background-color: #6bc54c;
    color: #000000;
    cursor: pointer;
    margin: 40px auto;
    text-align: center;
    border: solid 3px #008c00;
}

#popup #popup-message {
    text-align: center;
}

#score {
    top: 30px;
    left: 485px;
    font-size: 40px;
    color: #ffffff;
    width: 200px;
    height: 220px;
    text-align: center;
    line-height: 145px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 15px;
}

.snake-element{
    width: 19px;
    height: 19px;
    margin: 1px 0 0 1px;
    background-color: #ff9600;
    position: absolute;
    z-index: 1;
    -webkit-border-radius: 15px;
}


.food-element{
    width: 19px;
    height: 19px;
    margin: 1px 0 0 1px;
    position: absolute;
    z-index: 1;
    background-color: #00ff00;
    -webkit-border-radius: 15px;
}