body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

#snake-board {
    z-index: 0;
    position: absolute;
    background-color: #3162ff;
}

#popup {
    top: 30px;
    left: 200px;
    padding: 0;
    z-index: 99;
    width: 500px;
    height: auto;
    color: #000000;
    position: absolute;
    background-color: #ffffff;
}

#popup #popup-button {
    width: 80px;
    height: 30px;
    background-color: #c6c6c6;
    color: #000000;
    cursor: pointer;
    margin: 40px auto;
    text-align: center;
}

#popup #popup-message {
    text-align: center;
}

#score {
    top: 0;
    left: 920px;
    font-size: 40px;
    color: #ffffff;
    width: 200px;
    height: 600px;
    margin: 0 0 0 20px;
    position: absolute;
    background-color: #3162ff;
}

.snake-element{
    width: 29px;
    height: 29px;
    margin: 1px 0 0 1px;
    background-color: #00ff00;
    position: absolute;
    z-index: 1;
    -webkit-border-radius: 15px;
}


.food-element{
    width: 29px;
    height: 29px;
    margin: 1px 0 0 1px;
    position: absolute;
    z-index: 1;
    background-color: #ffff00;

    -webkit-border-radius: 15px;
}